@import "variable";

@mixin display() {
  display: flex;
  flex-direction: row;
}

.listContainer {
  position: relative;
  margin-top: 40px;
  border: 1px solid $listBorder;
  text-align: center;
  border-radius: 4px;
  .itemContainer {
    @include display();
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    div {
      @include display();
    }
    .delete {
      cursor: pointer;
      color: $deleteIconColor;
    }
  }
  .itemContainer:not(:last-child) {
    border-bottom: 1px solid $listBorder;
  }
}

.noData {
  padding: 50px 0px;
}
